<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhoneService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.6.11.16:8081/PhoneService/service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhoneService"
                contract="ArkyPhoneServiceReference.IPhoneService" name="BasicHttpBinding_IPhoneService" />
        </client>
    </system.serviceModel>
</configuration>