<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="ArkyMapsDatabaseEntities" connectionString="metadata=res://*/ArkyMapsModel.csdl|res://*/ArkyMapsModel.ssdl|res://*/ArkyMapsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress2012;initial catalog=ArkyMapsDatabase;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <system.serviceModel>
    <services>
        <service name="ArkyMapService.MapService" behaviorConfiguration="MapServiceMEXBehavior">
        <endpoint address="service" binding="netTcpBinding" contract="ArkyMapService.IMapService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
            <baseAddresses>
                <add baseAddress="net.tcp://localhost:8080/MapService"/>
            </baseAddresses>
        </host>
        </service>

        <service name="ArkyMapService.PhoneService" behaviorConfiguration="PhoneServiceMEXBehavior">
        <endpoint address="service" binding="basicHttpBinding" contract="ArkyMapService.IPhoneService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
            <baseAddresses>
                <!--For windows phone emulator only-->
                <!--<add baseAddress="http://192.168.0.218:8081/PhoneService"/>-->
                <add baseAddress="http://10.6.11.16:8081/PhoneService"/>
            </baseAddresses>
        </host>
        </service>

    </services>
    <behaviors>
        <serviceBehaviors>
        <behavior name="MapServiceMEXBehavior">
            <serviceMetadata/>
        </behavior>
        <behavior name="PhoneServiceMEXBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        </serviceBehaviors>
    </behaviors>

    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
